aggregation_modes:
# grand, subject mean
  nonstep_age_group_mean:
    enabled: true
    filter:
      mixed: 1
      step_TF: "nonstep"
    groupby: ["age_group"]
    color_by: ["age_group"]
    overlay: true
    overlay_within: ["age_group"]
    output_dir: "age_group"
    filename_pattern: "nonstep_●노인 vs. ▲성인_{signal_group}.png"
  step_age_group_mean:
    enabled: true
    filter:
      mixed: 1
      step_TF: "step"
    groupby: ["age_group"]
    color_by: ["age_group"]
    overlay: true
    overlay_within: ["age_group"]
    output_dir: "age_group"
    filename_pattern: "step_●노인 vs. ▲성인_{signal_group}.png"
